@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'poppins'sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 600px;
  background: url('lib.jpg'),no-repeat center center / cover;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
.container{
  width: 400px;
  height: 350px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: beige;
  color: black;
  border-radius: 10px;
  box-shadow: 20px 10px 50px rgba(0, 0, 0, 0.8);
}
.mix-container{
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 15px;
  border: 1px solid black;
  width: 80%;
  margin-left: 25px;
  padding: 5px;
  background-color: blueviolet;
  border-radius: 5px;
  border: none;
}
#quote-place{
  width: 70%;
  height: 150px;
  margin-top: 15px;
  background-color: bisque;
  color: #110b0b;
  font-size: 1.5rem;
  text-align: center;
  padding: 10px;
  border-radius: 7px;
  margin-left: 50px;
  box-shadow: 0px 0px 20px rgba(14, 212, 14, 0.8);
}
.person{
  text-align: center;
  margin-top: 20px;
  font-size: 1.4rem;
  color: red;
  line-height: 1.5rem;
  text-transform: uppercase;
}
.btn button{
  padding: 10px;
  margin-top: 15px;
  background-color: #770dce;
  color: #fff;
  font-size: 1.2rem;
  border-color: #fff;
  border-radius: 5px;
  border: none;
}